<footer class="footer">
  <div class="container">
    <div class="row">
      <ul>
          <li>
              <a href="http://www.nidirect.gov.uk/crown-copyright" target="_blank" rel="nofollow" title="(external link opens in a new window / tab)">
                  ©  Crown copyright
                  <span class="element-invisible">(external link opens in a new window / tab)</span>
                  <span class="elink"></span>
              </a>
          </li>
          <li>
              <a href="http://www.nidirect.gov.uk/terms-and-conditions" target="_blank" rel="nofollow" title="(external link opens in a new window / tab)">
                  Terms and conditions
                  <span class="element-invisible">(external link opens in a new window / tab)</span>
                  <span class="elink"></span>
              </a>
          </li>
          <li>
              <a href="http://www.nidirect.gov.uk/privacy" target="_blank" rel="nofollow" title="(external link opens in a new window / tab)">
                  Privacy
                  <span class="element-invisible">(external link opens in a new window / tab)</span>
                  <span class="elink"></span>
              </a>
          </li>
          <li>
              <a href="http://www.nidirect.gov.uk/cookies" target="_blank" rel="nofollow" title="(external link opens in a new window / tab)">
                  Cookies
                  <span class="element-invisible">(external link opens in a new window / tab)</span>
                  <span class="elink"></span>
              </a>
          </li>
          <li>
              <a href="/prototype-admin/clear-data" rel="nofollow" title="(external link opens in a new window / tab)">
                  Clear cache
                  <span class="element-invisible">(external link opens in a new window / tab)</span>
                  <span class="elink"></span>
              </a>
          </li>
      </ul>
    </div>
  </div>
</footer>
