{% extends "layout.html" %}

{% block pageTitle %}
  Manage booking
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Your test booking has not been changed</h1>
    </div>
    <div class="govuk-grid-column-two-thirds"">

      <p class="govuk-body">There’s a technical problem. The test booking you are trying to change cannot be found and may not be visible here.
      <p class="govuk-body">Please contact DVSA to recover or reschedule this test.</p>
        <h4 class="govuk-heading-m">DVSA theory test enquiries</h4>
        <p class="govuk-body govuk-!-margin-bottom-1"><a href="mailto=theorycustomerservices@dvsa.gov.uk">theorycustomerservices@dvsa.gov.uk</a></p>
        <p class="govuk-body govuk-!-margin-bottom-1">Telephone: <strong>0000 0000 0000</strong></p>
        <p class="govuk-body govuk-!-margin-bottom-6"><strong>Monday</strong> to <strong>Friday</strong>, <strong>8am</strong> to <strong>4pm</strong></p>
        <p class="govuk-body govuk-!-margin-bottom-6"><a href="">Find out about call charges</a></p>
        <a href="" class="govuk-button">Return to bookings</a>

    </div>

  </div>

{% endblock %}
