{% extends "layout.html" %}

{% block pageTitle %}
  Manage booking
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row manage-v3">
    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">View, change or cancel a theory test</h1>
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        You must give at least 3 clear working days’ notice to get a full refund. Sundays and public holidays do not count as working days.
      </strong>
    </div>
    <div class="govuk-!-margin-bottom-7">
      <div>
        <div class="govuk-body ammend-actions">
          <dl class="govuk-summary-list">

            <div class="govuk-summary-list__row govuk-!-margin-bottom-1">
              <dt class="govuk-summary-list__key">
                Booking reference
              </dt>
              <dd class="govuk-summary-list__value">
                B-000-000-001
              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>

            <div class="govuk-summary-list__row govuk-!-margin-bottom-1">
              <dt class="govuk-summary-list__key">
                Test type
              </dt>
              <dd class="govuk-summary-list__value">
                Car
              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>

      <!--      <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Test details
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-!-margin-bottom-5">12:30pm, 2 December 2020</p>
                <p><span class="govuk-!-font-weight-bold">Pearson Professional Centre Swansea</span><br>Grove House, <br>3 Grove Pl,<br> Swansea SA1 5DF

              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-button govuk-button--secondary" href="screens/what-to-change">
                  Change<span class="govuk-visually-hidden"> date of birth</span>
                </a>
              </dd>
            </div> -->

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key  no-border">
                Test time and date
              </dt>
              <dd class="govuk-summary-list__value timeslot  no-border">
                 <div class="govuk-!-font-weight-bold">8:00am</div> on <div class="govuk-!-font-weight-bold">2 June 2020</div>
              </dd>
              <dd class="govuk-summary-list__actions  no-border">
                <a class="govuk-button govuk-button--secondary" href="screens/what-to-change-v2">
                    Change<span class="govuk-visually-hidden"></span>
                  </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Test location
              </dt>
              <dd class="govuk-summary-list__value">
                <span class="govuk-!-font-weight-bold">Pearson Professional Centre Swansea</span><br>Grove House, <br>3 Grove Pl,<br> Swansea SA1 5DF

              </dd>
              <dd class="govuk-summary-list__actions">

              </dd>
            </div>


            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Test centre
              </dt>
              <dd class="govuk-summary-list__value">

              </dd>
              <dd class="govuk-summary-list__actions">

              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                On-screen language
              </dt>
              <dd class="govuk-summary-list__value">
                English / Cymraeg (Welsh)
              </dd>
              <dd class="govuk-summary-list__actions">
              <a class="govuk-button govuk-button--secondary" href="screens/007-language">
                  Change<span class="govuk-visually-hidden"> contact details</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                British Sign Language
              </dt>
              <dd class="govuk-summary-list__value">
                Yes / No
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-button govuk-button--secondary" href="screens/015-bsl">
                  Change<span class="govuk-visually-hidden"> contact details</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Voiceover language
              </dt>
              <dd class="govuk-summary-list__value">
                No / Welsh / English
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-button govuk-button--secondary" href="screens/016-voice-over">
                  Change<span class="govuk-visually-hidden"> contact details</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row govuk-!-margin-bottom-1 show-this">
              <dt class="govuk-summary-list__key no-border">
                Cancel this test
              </dt>
              <dd class="govuk-summary-list__value  no-border">

              </dd>
              <dd class="govuk-summary-list__actions  no-border">
                <a href="screens/cancel-booking" class="govuk-button govuk-button--warning">Cancel test</a>
              </dd>
            </div>
          </dl>

      </div>

    </div>
  </div>

  </div>

{% endblock %}
