{% extends "layout.html" %}

{% block pageTitle %}
  IHTTC Index
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Hand over</li>
  </ol>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Hand over</h1>

      <ul>
        <li><a href="/hand-over/003-do-you-need-support">003 - Do you want support</a></li>
        <li><a href="/hand-over/004-search-for-test-centre">004 - Search for a test centre</a></li>
        <li><a href="/hand-over/005-choose-test-centre">005 - Choose a test centre</a></li>
        <li><a href="/hand-over/007-langauge">007 - Language</a></li>
        <li><a href="/hand-over/008-candidate-details">008 - Candidate details</a></li>
        <li><a href="/hand-over/009-candidate-email">009 - Email address</a></li>
        <li><a href="/hand-over/010-check-your-answers">010 - Check your answers (pre-payment)</a></li>
        <li><a href="/hand-over/013-booking-confirmed">013 - Booking confirmed</a></li>
        <br /><br />
        <h2 class="govuk-heading-m">Standard accommodations</h2>
        <li><a href="/hand-over/015-bsl">015 - British sign language</a></li>
        <li><a href="/hand-over/016-voice-over">016 - Voiceover</a></li>
        <li><a href="/hand-over/017-other-support">017 - Do you need other support</a></li>
        <br /><br />
        <h2 class="govuk-heading-m">Non-standard accommodations</h2>
        <li><a href="/hand-over/019-how-do-we-contact">019 - How would you like to be contacted</a></li>
        <li><a href="/hand-over/020-check-your-answers-support-request">020 - Check your answers (support request)</a></li>
        <li><a href="/hand-over/021-confirm-request-submitted">021 - Support request confirmation</a></li>


      </ul>

    </div>
  </div>

{% endblock %}
