{% extends "layout.html" %}

{% block pageTitle %}
  Manage booking
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">Your theory test bookings</h1>
      <p class="govuk-body">You have <span class="govuk-!-font-weight-bold">1</span> theory test booked.</p>

      <dl class="govuk-summary-list">
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Test type
          </dt>
          <dt class="govuk-summary-list__key">Date of test
          </dt>
          <dt class="govuk-summary-list__key">Booking reference
          </dt>
          <dt class="govuk-summary-list__key">Status
          </dt>
          <dt class="govuk-summary-list__key" style="text-align: right;">
            Actions
          </dt>
         
        </div>
        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">Motocycle
          </dd>
          <dd class="govuk-summary-list__value">12:30pm, 2 December 2020
          </dd>
          <dd class="govuk-summary-list__value">B-000-000-001
          </dd>
          <dd class="govuk-summary-list__value">
            <strong class="govuk-tag govuk-tag--blue">
              Booked
             </strong>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="change-booking-v3">View booking</a>
          </dd>
        </div>
        
      </dl>

     
     
     <!--
      <div class="theory-test">

        <div class="wrapper-manage govuk-body">
          <div class="left">
            <div class="top">Test type</div>
            <div class="bottom">Motocycle</div>
          </div>
          <div class="middle">
            <div class="top"><span>Date of test</span></div>
            <div class="bottom"><span>12:30pm, 2 December 2020</span></div>
          </div>
          <div class="right">
            <div class="top"><span>Booking reference</span></div>
            <div class="bottom"><span>B-000-000-001</span> <a href="change-booking-v3">View booking</a></div>

          </div>
        </div>
        <div class="wrapper-manage govuk-body second-test">
          <div class="left">
            <div class="top">Theory test</div>
            <div class="bottom">Car</div>
          </div>
          <div class="middle">
            <div class="top"><span>Date of test</span></div>
            <div class="bottom"><span>12:30pm, 2 December 2020</span></div>
          </div>
          <div class="right">
            <div class="top"><span>Booking reference</span></div>
            <div class="bottom"><span>B-000-000-002</span> <a href="">Book replacement test</a><br>or<br><a href="refund-booking.html">request refund</a></div>

          </div>
        </div>
      </div>-->

    </div>

  </div>

{% endblock %}
