{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">You are not eligible for driving theory tests</h1>
        <p class="govuk-body">Based on the information provided, you are not eligible for any tests. Contact DVA to find out more.</p>

        <h2 class="govuk-heading-m">DVA theory test enquiries</h2>
        <p class="govuk-body"><a href="mailto:placeholder@infrastructure-ni.gov.uk">placeholder@infrastructure-ni.gov.uk</a><br/>
        Telephone: 0345 6006700<br/>
        Monday to Friday, 8am to 4pm</p>
      </div>
  </div>

{% endblock %}
