{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">There was a problem</h1>
        <p class="govuk-body">A technical problem interrupted this service. You can try again to book this theory test or wait and try later. If this problem persists, contact DVA.</p>
        <p class="govuk-body"><a href="mailto:placeholder@infrastructure-ni.gov.uk">placeholder@infrastructure-ni.gov.uk</a><br/>
        Telephone: 0345 6006700<br/>
        Monday to Friday, 8am to 4pm</p>

        <a class="govuk-button" href="../support-journeys/ns-journey-v7/do-you-need-support">Try again to book this theory test</a>
    </div>
  </div>

{% endblock %}
