{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

<a href="#" class="govuk-back-link">Back</a>
<div class="govuk-grid-row" id="checkyouranswers">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-xl">Check your answers</h1>

    <h2 class="govuk-heading-m">Personal details</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key no-border">
          Name
        </dt>
        <dd class="govuk-summary-list__value no-border">
            {{ data['first-names'] }} {{ data['last-names'] }}
        </dd>
        <dd class="govuk-summary-list__actions no-border">
          <a class="govuk-link" href="candidate-details">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key no-border">
          Date of birth
        </dt>
        <dd class="govuk-summary-list__value no-border">
           {{ data['dob-day'] }} <span class="dob-format">{{ data['dob-month'] }}</span>  {{ data['dob-year'] }}
        </dd>
        <dd class="govuk-summary-list__actions no-border">
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Driving licence number
        </dt>
        <dd class="govuk-summary-list__value">
           {{ data['dl-number'] }}
        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address
        </dt>
        <dd class="govuk-summary-list__value">
           {{ data['email-address'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="candidate-email">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Test details</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Test type
        </dt>
        <dd class="govuk-summary-list__value">
            {{ data['test-type'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="which-theory-test-are-you-booking">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Test time
        </dt>
        <dd class="govuk-summary-list__value timeslot">
           {{ data['timeslot'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="appointment">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of test
        </dt>
        <dd class="govuk-summary-list__value">
           {{ data['select-day'] }} <span class="month-ready">{{ data['select-month'] }}</span> {{ data['select-year'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="select-date">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Language of test
        </dt>
        <dd class="govuk-summary-list__value">
           {{ data['language'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="which-language-do-you-want-your-theory-test-in">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Additional support
        </dt>
        <dd class="govuk-summary-list__value">
           {{ data['additional-support'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="do-you-need-support-while-taking-the-theory-test">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Requested British sign language
        </dt>
        <dd class="govuk-summary-list__value">
           {{ data['bsl'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="bsl">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
    </dl>
    <a href="payment" class="govuk-button">Continue and pay</a>
  </div>
</div>
{% endblock %}
