
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row" id="confirmation-page">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Theory test booking confirmed
      </h1>
      <span style="font-size: 28px; font-weight: 700;">Booking details and a payment receipt have been emailed to {{ data['email-address'] }}</span>
      <div class="govuk-panel__body">
        Your reference number<br><strong>HDJ2123F</strong>
      </div>
    </div>
    <div class="govuk-grid-column-two-thirds">

      <a class="govuk-body" href="">It may be useful to print this page</a>.

      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Test time</th>
            <td class="govuk-table__cell"><span class="timeslot">{{ data['timeslot'] }}</span> on {{ data['select-day'] }} <span class="month-ready">{{ data['select-month'] }}</span> {{ data['select-year'] }}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Test location</th>
            <td class="govuk-table__cell">Swansea 2nd Floor, Grove House, Swansea SA1 5DF</td>
          </tr>
        </tbody>
      </table>
      <h2 class="govuk-heading-l">Important</h2>
      <p class="govuk-body">The person taking the test must:</p>
      <ol class="govuk-body">
        <li>bring their driving licence</li>
        <li>arrive 15 minutes before the test start time (Old-style, paper licence-holders should also bring a valid passport)</li>
      </ol>
      <h2 class="govuk-heading-l">At the test centre</h2>
      <p class="govuk-body">All test centres are security monitored.</p>

      <p class="govuk-body">Personal items are not allowed in the testing room. They must be placed in the locker provided. These items include:</p>
      <ul class="govuk-body">
        <li>mobile phones or pagers</li>
        <li>earpieces or headphones</li>
        <li>laptops or hand-held computers</li>
        <li>personal digital assistants (PDAs)</li>
        <li>other electronic devices</li>
        <li>handbags, purses or wallets</li>
        <li>hats, bags or coats</li>
        <li>books or revision notes</li>
        <li>dictionaries</li>
        <li>paper or pens</li>
        <li>watches</li>
        <li>food or drink</li>
      </ul>
      <p class="govuk-body">If a candidate is found to have any of these items in the testing room:</p>
      <ul class="govuk-body">
        <li>the test will be stopped and voided</li>
        <li>they will be asked to leave</li>
        <li>the test fee will not be refunded</li>
      </ul>
      <h2 class="govuk-heading-l">Waiting facilities</h2>
      <p class="govuk-body">There are no waiting facilities for any adults or children accompanying candidates.</p>
      <h2 class="govuk-heading-l">Prepare for the test</h2>
      <p class="govuk-body">Learn more about preparing for a car theory test including free practice tests.</p>
      <h2 class="govuk-heading-l">Moving or cancelling the test</h2>
      <p class="govuk-body">Theory tests can be moved or cancelled up to 3 days before without penalty. If this booking is changed or cancelled after 25 February 2020 no refund will be made.</p>

      <p class="govuk-body">You can <a h href="">change the time of this test</a>. You can also <a h href="">cancel the test</a>.</p>

    </div>
</div>

{% endblock %}
