
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Select a theory test centre
    </h1>
    <a class="govuk-body" href="select-test-centre">See list of centres</a>
    <iframe src="https://www.google.co.uk/maps/d/embed?mid=1fzfE6lVdrIYHIsYfQyI2WlY-kUiuM1n2" width="100%" height="480"></iframe>
    </div>
</div>

{% endblock %}
